
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <table>
                    <tr>
                        <td><a href="showemployees"> Show Employees </a></td>
                        <td><a href="addemployee"> Add Employee </a></td>
                    </tr>
                </table>
            </div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>
     
</body>


@section scripts{
  <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>   
  <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>   
  <script type="text/javascript" src="@Url.Content("~/MyScripts/Module.js")"></script>
<script src="~/MyScripts/Services.js"></script>
  <script type="text/javascript" src="@Url.Content("~/MyScripts/ShowEmployeesController.js")"></script> 
  <script type="text/javascript" src="@Url.Content("~/MyScripts/AddEmpController.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/MyScripts/EditEmployeeController.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/MyScripts/DeleteEmployeeController.js")"></script>   
 }

